<?xml version="1.0"?>
<model>
  <name>iris_fisheye_lens_camera</name>
  <version>1.0</version>
  <sdf version="1.5">iris_fisheye_lens_camera.sdf</sdf>

  <author>
   <name>Gemini</name>
   <email>gemini@ai.com</email>
  </author>

  <description>
    Iris Quadrotor with a 180-degree Fisheye Lens Camera.
  </description>
</model>